:root{
    --fontColor: #fff;
    --background: #f44336;
    --boxbackground: #fff3f3;
}
nav {
  display: flex;
  padding: 2% 6%;
  align-items: center;
  justify-content: center;
  position: sticky;
}

nav img {
  width: 40px;
  cursor: pointer;
   transition: ease-in-out 0.5s;
   color: #fff;
   /* background: #fff; */
}

.nav-section{
  position: fixed;
  z-index: 2;
  background: #7f7c7c;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2rem;
}
.logo{
  border-radius: 50%;
  margin-top: 10px;
  overflow: hidden;
  image-rendering: auto;
}

.logo:hover{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border:solid 1px #f44336;
    padding: 10px;
    
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  display: inline-block;
  list-style: none;
  /* text-decoration: none; */
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  text-decoration: none;
  color: var(--fontColor);
  font-size: 13px;
}

.nav-links ul li::after {
  content: '';
  height: 2px;
  width: 0;
  background-color: var(--background);
  display: block;
  position: absolute;
  aspect-ratio: auto;
  transition: ease-in-out 0.3s;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.times-bar, .menu-bar{
    display: none;
}

@media(max-width: 700px){
        .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200;
        z-index: 2;
        background-color: var(--background);
        text-align: left;
        display: none;
        transition: 1s;

    }

    nav .times-bar, .menu-bar{
        display: block;
        color: var(--fontColor);
        margin: 10px;
        font-size: 20px;
        cursor: pointer;
        width: 30px;
        height: auto;
    }

    .nav-links ul{
        padding: 10px;
    }

}
