*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  /* background-color: #ccc; */
}

.form{
  
  display: flex;
  /* flex-direction: column; */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  background-color: #ccc;
  width: 700px;
  height: 500px;
  border: none;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 0 5px 5px rgba(0,0,0,.3);
  overflow: hidden;
  width: 700px;
 height: 500px;
}

.form input{
  border-radius: 10px;
  padding: 8px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15px;
  outline: none;
  border: none;
  box-shadow: inset 0 0 5px rgba(0,0,0,.3);
  color: #333;
  font-size: 15px;
  width: 200px;
}

.form label{
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 20px;
}

.submit{
  width: 100px;
  background-color: #333;
  color: #fff;
  border: none;
   border-radius: 10px;
   margin-left: 15px;
   margin-top: 10px;
   
height: 30px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
width: 100%;
}
@emedia(max-width: 1000px){
  
}
