* {
  margin: 0;
  padding: 0;
  font-family: 'popins', sans-serif;
  box-sizing: border-box;
}
:root {
  --textcolor: #fff;
  --boxbackground: #fff3f3;
  --background: #f44336;
}

body {
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/eduford_img/banner.png) no-repeat;
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
  position: relative;
  color: var(--textcolor);
  max-height: 100%;
}

.intro {
  display: flex;
  box-sizing: inherit;
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
  width: 0 auto;
  max-width: 100%;
}

.details h1 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 30px;
}

.details p {
  font-size: 18px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.founder {
  position: relative;
  display: flex;
  flex-direction: column;
  /* max-height: 100%; */
}

.founder-description {
  position: relative;
  display: flex;
  text-align: center;
  font-weight: 700;
  gap: 10px;
  align-items: center;
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: transparent;
  color: #6f6f6f;
  border-radius: 10px;
  padding: 30px 40px;

}

.founder img {
  height: 100px;
  border-radius: 50%;
  background-size: cover;
  transition: ease-in-out 0.5s;
}

.founder img:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.name{
   font-size: 20px;
   font-weight: 600;
   margin-top: 10px;
   color: #333;
   text-transform: uppercase;
   font-family: 'Courier New', Courier, monospace;
}



.church-branches{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.church-branches h4{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.church-branches p{
    font-size: 18px;
    margin: 20px;
}

.branches{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 30px 40px;
}

.branches h4{
    margin-bottom: 40px;
}

.list ul li{
    position: relative;
}

.list ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    list-style: none;

}

.list ul li a{
    text-decoration: none;
    color: #ccc;
    margin-top: 50px;
}

.list ul li::after{
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: var(--background);
    position: absolute;
    aspect-ratio: auto;
    transition: ease-in-out 0.3s;

}

.list ul li:hover::after{
    width: 100%;
}

@media(max-width: 960px){
    html{
        font-size: 62.5%;
    }
    .list ul{
        gap: 20px;
        font-size: 12px;
        font-weight: 600;


    }
}

@media (max-width: 800px) {
  .founder{
    position: relative;
    height: 600px;
    margin-top: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .details p{
    font-size: 14px;
    margin-right: 10px;
  }
  
  .founder img, .name {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    margin-bottom: 18px;
  }

  .description{
    margin-top: 150px;
  }

  .founder-description{
    height: 300px;
  }
}

@media(max-width: 630px){
    .founder{
        height: 500px;
        position: relative;
    }
    .founder-description{
        box-sizing: border-box;
        height: 100rem;
        margin-bottom: 20px;
    }
    .church-branches{
        margin-top: 50px;
    }
    .church-branches p{
        font-size: 14px;
    }
    .founder-description p{
        font-size: 14px;
    }
}

    @media(max-width: 400px){
        .founder-description p, h4{
           font-size: 10px;
        }
    }

    @media(max-width: 360px){
            .church-branches h4{
        font-size: 20px;
    }

        .branches h4{
            font-size: 25px;
        }

        .list ul {
            font-size: 10px;
             gap: 8px;
            
        }
    }

    @media(max-width: 310px ){
        .branches{
            width: 180px;
        }
    }

